doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type="text/css" href="/stylesheets/css/style.css")
  link(href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet')
  title Virtual Personal Asistant
nav
  .nav-wrapper
    img.logo-image(src='/images/Assets/Logo/logo.png' alt='logo-image')
    a.logo-name Virtual Personal Asistant
    ul#navbar
      a(href='#about') About
      a(href='#services') Services
      a(href='/hero/hero_register') Become a Talent
      a(href='#contact') Contact Us
      a(href='/consumer_register') Sign Up
      a.button-login(type='button' href='/consumer_login') Login
#about.about
  img.world-logo(src='/images/Assets/Image/Image Collection.png' alt='world-logo')
  h1 What is Lorem Ipsum?
  p
    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s
  a.button-more(type='button' href='') More Info
#services.services
  h1 Our Services
  .icon-wrapper
    .design-graph-wrapper
      img(src='/images/Assets/Icon/Pencil Icon.png' alt='')
      p Design Graphic
    .web-prog-wrapper
      img(src='/images/Assets/Icon/Web Programming Icons.png' alt='')
      p Web Programming
    .writing-wrapper
      img(src='/images/Assets/Icon/Writing Icon.png' alt='')
      p Writing
    .sales-and-marketing-wrapper
      img(src='/images/Assets/Icon/Sales and Marketing Icon.png' alt='')
      p Sales and Marketing
    .service-and-repair-wrapper
      img(src='/images/Assets/Icon/Service and Repair Icon.png' alt='')
      p Serice and Repair
    .many-more-wrapper
      img(src='/images/Assets/Icon/Many More Icon.png' alt='')
      p Many More
  a.button-explore(type='button' href='/services') Explore Our Services
.line
  hr
#talent.talent
  .talent-left-content
    h1
      | Lets 
      span.become-a-talent Become a Talent
      |  and 
      span.join-with-us Join With Us
    p
      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s
    a.become-a-talent-button(type='button' href='/hero_register') Become a Talent
  .talent-right-content
    img(src='/images/Assets/Image/Saly-10.png' alt='')
footer
  .footer-wrapper
    .company
      .logo-and-company-name
        img(src='/images/Assets/Logo/logo.png' alt='')
        h1 Virtual Personal Asistant
      p
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s
    #contact.contact
      p.title Contact Us
      .data-contact
        p Email : pasbusiness3@gmail.com
        p Telp: +62 851 7124 4212
    .rules
      a(href='') FAQ
      br
      br
      a(href='') Terms and Condition
      br
      br
      a(href='') Privacy and Policy
      br
      br
      a(href='') Partnership